.card {

    &__header {
        display: flex;
        margin-bottom: -2rem;
    }

    &__title {
        font-weight: 600;
        padding: .5rem 1rem;
        border-radius: 1rem;
        background-color: $color-third;
    }

    &__body {
        margin-top: .5rem;
        width: 100%;
        padding-left: 1rem;
    }

    &__content {
        width: 100%;
        padding: 2rem 1rem 1rem;
        background-color: $white;
        border-radius: .5rem;
        box-shadow: $shadow-default;
    }
}