.nav {
    position: relative;

    &--row {
        display: flex;
        align-items: center;
    }

    &--center {
        justify-content: center;
    }

    &__item {
        margin: .5rem;
    }

    &__link {
        color: $color-default;
        display: block;
        white-space: nowrap;

        &--brand {
            text-align: center;
            font-weight: 600;
            height: 3rem;
            line-height: 3rem;
            width: 8rem;
            background-color: $color-third;
            border-radius: 3rem;

            &:hover, &:active {
                background-color: $color-primary;
                color: $white;
            }
        }
    }
}