.scroll-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    background-color: $color-primary;
    border-radius: 3.5rem;
    box-shadow: $shadow-default;
    color: $white;
    animation-name: updown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition: all .5s;
    display: none;

    @media (min-width: 568px) {
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        border-radius: 4rem;
    }

    @media (min-width: 992px) {
        bottom: 2rem;
        right: 1rem;
    }

    &:hover, &:active {
        background-color: $color-secondary;
    }

    &__svg {
        width: 2rem;
        height: 2rem;
        transform: rotate(180deg);
    }
}