.section {
    width: 100%;
    background-color: $white-opacity-50;
    border-radius: .5rem;
    box-shadow: $shadow-default;
    padding: 1.5rem 0;

    &-one {
        text-align: center; 
        margin: 3rem 0;       
    }

    &__title {
        text-transform: uppercase;
        font-size: 2rem;
    }

    &__body {
        margin: 1rem 5rem;
    }
}