* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    overflow-x: hidden;

    @media (min-width: 768px) {
        font-size: 15px;
    }
}

body {
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    color: $color-default;
    line-height: 1.7;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
}

button, input {
    outline: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input, textarea {
    border: 1px solid $color-default;
    background-color: transparent;
    
    &:focus {
        border: none;
        outline: none;
    }
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
    display: inline-block;
}

svg {
    vertical-align: middle;
    display: inline;
    fill: currentColor;
}

ul, ol {
    list-style: none;
}