.footer {
    width: 100%;
    padding: 0rem .75rem 1rem;

    @media (min-width: 992px) {
        padding: 0rem 5.75rem 2rem;    
    }

    &__wrapper {
        width: 100%;
        box-shadow: $shadow-default;
    }

    &__header {
        width: 100%;
        padding: 1rem;
        text-align: center;
        background-color: $color-primary;
        color: $white;
    }

    &__body {
        width: 100%;
        padding: .5rem;
        background-color: $white;

        @media (min-width: 576px) {
            padding: 1rem;
        }
    }
}