.row {
    width: 100%;
    margin-right: -1rem;
    margin-left: -1rem;
    display: flex;
    flex-wrap: wrap;

    .col-4 {
        padding-right: 1rem;
        padding-top: 1rem;
        width: 25%;
    }
}